<div class="row">
  <div class="col-7 noPadDer">
    <h3 class="mTop15 mBot15 colortxtoscuro">Formulario Post</h3>
    <form (ngSubmit)="onSubmit(blogForm)" #blogForm="ngForm" class="rallaMedio">
      <div class="form-group">
        <label class="colortxt" for="exampleInputEmail1">Titulo</label>
        <input type="text" class="form-control" name="titulo" [(ngModel)]="blog.titulo" aria-describedby="Describe el titulo" placeholder="Introduce el titulo">
        <small id="emailHelp" class="form-text text-muted">Titulo cabecera del post</small>
      </div>
      <div class="form-group">
        <label class="colortxt" for="exampleInputEmail1">Contenido del post</label>
        <simple-tiny [elementId]="'blogId'" class="borde-panel" (onEditorKeyup)="keyupHandlerFunction($event)">
        </simple-tiny>
      </div>

      <div class="form-group">
        <label class="colortxt" >Imagen principal</label>
        <input type="file" class="form-control" name="imagen"  (change)="fileChangeEvent($event)"  aria-describedby="Imagen principal" placeholder="Selecciona la imagen principal">
        <small id="emailHelp" class="form-text text-muted">Imagen pricipal del post</small>
      </div>
    

      <button *ngIf="!blog.id" type="submit" class="btn btn-outline-primary btn-block">Crear</button>
      <button *ngIf="blog.id" type="button" (click)="updateData()" class="btn btn-outline-success btn-block">Actualizar</button>

    </form>

  </div>
  <div class="col-5">
    <h3 class="mTop15 mBot15 colortxtoscuro">Listado ultimos post</h3>
    <table class="table table-sm tablaRedonda">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Titulo</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of blogs; let i = index" >
          <td><img width="50" height="50" class="img-circle"   *ngIf="blog.imagen != ''" src="http://localhost/avanza-backend/web/uploads/images/{{blog.imagen}}"></td>
          <td >{{blog.titulo}}</td>
          <td>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a (click)="update(i)"><i class="fa fa-pencil"></i></a>
              </li>
              <li class="list-inline-item">
                  <a (click)="deleteBlog(i)"><i class="fa fa-trash"></i></a>
              </li>
              <li class="list-inline-item">
                  <a [routerLink]="['/show', blog.id, 'blog']">Ver</a>
              </li>

            </ul>
          </td>

        </tr>

      </tbody>
    </table>

  </div>

</div>