{% extends 'base.html.twig' %}
{% block body %}
    
<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">            
            <div class="cabecera">
                <h1 class="padLat15">Aviso Legal y Condiciones de uso del sitio web</h1>                    
                <p class="padLat15">Publicado: 2 Noviembre 2017 
                </p>
                <ol>
                    <li>AVISO LEGAL</li>
                    <li>ACEPTACIÓN DE LAS CONDICIONES DE USO</li>                        
                    <li>CONTENIDO DEL SITIO WEB</li>
                    <li>USO DEL SITIO WEB</li>
                    <li>CONTENIDOS Y SERVICIOS ENLAZADOS A TRAVÉS DEL SITIO WEB.</li>
                    <li>DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL.</li>
                    <li>EXONERACION DE RESPONSABILIDAD.</li>
                    <li>ACTUALIZACION DE ESTAS CONDICIONES</li>
                    <li>LEGISLACION Y JURISDICCION APLICABLE</li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="">
                <li><strong> AVISO LEGAL </strong></li>
            </ol>
            <p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y 
                Comercio Electrónico (LSSICE), exponemos los  datos identificativos de la entidad  titular de este sitio web.
            </p>
            <p>El SITIO WEB <a href="https://avanzaconsultoria.com/">https://avanzaconsultoria.com/</a> (en adelante “SITIO WEB”) 
                es titularidad de <strong>Avanza Consultoría Técnica, Ingeniería y Servicios S.L.</strong><strong> (en adelante AVANZA)</strong>
                con CIF B-<strong>98079536 </strong> (en adelante AVANZA) con domicilio en la calle Pintor Benedito nº10, 2, 46007 Valencia
            </p>
            <p>Los datos de inscripción en el Registro Mercantil de Valencia son: Tomo 8948, Libro 6233, Folio 95, Sección 8, 
                Hoja nº V-131014, Inscripción o Anotación 7.
            </p>
            <p>Puedes contactar con nosotros a través de: <a href="mailto:info@avanzaconsultoria.com">info@avanzaconsultoria.com</a></p>
            <p>Además estamos{# en Twitter: <a href="https://twitter.com/CentroAVANZA">@CentroAVANZA</a> y#} en 
                Facebook: <a href="https://www.facebook.com/avanza.cinf">@Avanza</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="" start="2">
                <li><strong> ACEPTACIÓN DE LAS CONDICIONES DE USO</strong></li>
            </ol>
            <p>Las presentes Condiciones de uso y Aviso legal así como la Política de privacidad, la Política de cookies 
                y cualquier otro tipo de información legal que se facilite, rigen el acceso y utilización del SITIO WEB 
                por tu parte, en adelante USUARIO del mismo.
            </p>
            <p>Como USUARIO del sitio web manifiestas:</p>
                <ol>
                    <li>Que has leído y comprendes lo aquí expuesto;</li>
                    <li>que eres una persona mayor de 18 años y con capacidad suficiente para contratar;</li>
                    <li>que asumes todas las obligaciones aquí dispuestas al acceder o utilizar tanto el SITIO WEB como 
                        los servicios que ofrecemos.</li>
                </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="" start="3">
                <li><strong> CONTENIDO DEL SITIO WEB</strong></li>
            </ol>
            <p>El hecho de acceder, permanecer y usar el SITIO WEB supone la lectura y aceptación, sin reserva alguna, 
                de las presentes condiciones y de las páginas de información complementaria que en ellas se puedan detallar 
                o enlazar, referentes a la política de privacidad y condiciones generales del servicio para los USUARIOS, 
                así como las condiciones particulares del servicio para aquellos USUARIOS que procedan a contratar algún 
                o servicio concreto de los ofertados por <strong>AVANZA</strong>.
            </p>
            <p>El SITIO WEB alojado bajo el nombre de dominio <a href="https://avanzaconsultoria.com/">https://avanzaconsultoria.com/</a> constituye 
                una web corporativa que facilita información sobre los servicios que ofrece <strong>AVANZA</strong> que 
                consisten en servicios técnicos e informáticos.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="" start="4">
                <li><strong> USO DEL SITIO WEB</strong></li>
            </ol>
            <p>Como USUARIO te comprometes a hacer un uso diligente del contenido y de los servicios accesibles desde este SITIO WEB, 
                con total sujeción a la ley, a las buenas costumbres y las presentes Condiciones Generales, y en su caso, Particulares 
                y manteniendo el debido respeto a los demás USUARIOS.</p>
            <p>Como USUARIO renuncias a utilizar cualquiera de los materiales e informaciones contenidos en este SITIO WEB con fines 
                ilícitos, ilegales o contrarios a la buena fe y al orden público y expresamente prohibidos en las presentes Condiciones 
                de Uso o actuaciones que resulten contrarias a los derechos e intereses de <strong>AVANZA</strong>, sus miembros y/o 
                terceros, y deberás responder frente a los mismos en caso de contravenir o incumplir dichas obligaciones y/o que, de 
                cualquier modo (incluida la introducción o difusión de ‘virus informáticos’), dañe, inutilice, sobrecargue, deteriore o 
                impida la normal utilización de los materiales e informaciones contenidos en el SITIO WEB, los sistemas de información o 
                los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático (hacking) de 
                <strong>AVANZA</strong>, de sus miembros o de cualquier USUARIO del SITIO WEB.
            </p>
            <p>Si, como USUARIO incumples cualquiera de las precedentes obligaciones, deberás responder de todos los daños y perjuicios 
                que causes.
            </p>
            <p><strong>AVANZA</strong> se reserva el derecho de suspender de forma inmediata la prestación del servicio para retirar 
                los contenidos presunta o declaradamente ilegales o a anular los perfiles de USUARIOS que no cumplan con estas condiciones 
                generales, ya lo realice a su exclusivo criterio, ya a petición de un tercero afectado, debidamente identificado, o de la 
                autoridad competente, sin perjuicio de la responsabilidad por daños y perjuicios que se pudiera derivar. Dicha suspensión 
                o retirada no dará en ningún caso derecho a indemnización ninguna.
            </p>
            <p><strong>AVANZA</strong> se reserva la facultad de limitar la publicación de opiniones, informaciones, comentarios o 
                imágenes que los USUARIOS le hagan llegar, por lo que puede instalar, si así lo considera oportuno, filtros a tales efectos. 
                La anterior facultad no supone en modo alguno la obligación de <strong>AVANZA</strong> de controlar los contenidos que puedan 
                difundirse a través de su SITIO WEB, sino únicamente una expresión de su voluntad de evitar en la medida de lo posible que a 
                través del mismo puedan verterse contenidos u opiniones que puedan ser considerados difamatorios, violentos, racistas, sexistas, 
                xenófobos, discriminatorios, pornográficos, que atenten contra la juventud o la infancia, el orden o que, de cualquier modo, 
                contraríen la moral, el orden público o las buenas costumbres, o resulten claramente ilícitos.
            </p>
            <p><a name="_Toc471902120"></a>No se permite el uso de los contenidos del sitio web para promocionar, contratar o divulgar publicidad 
                o información propia o de terceras personas sin la autorización de <strong>AVANZA</strong> ni remitir publicidad o información 
                valiéndose para ello de los servicios o información que se ponen a disposición de los usuarios, independientemente de si la 
                utilización es gratuita o no.
            </p>
            <p>Si decides crear un anuncio en <strong>AVANZA</strong>, entiendes y aceptas que tu relación con <strong>AVANZA</strong> se limita 
                a ser un miembro y un contratista independiente, externo, y no un empleado, agente, partícipe en un negocio conjunto ni socio de 
                <strong>AVANZA</strong> por ninguna razón, y que actúas exclusivamente en nombre y beneficio propios, y no en nombre ni beneficio de 
                <strong>AVANZA</strong>.
            </p>
            <p><strong>AVANZA</strong> no examina la legalidad, exactitud o complejidad de las ofertas publicadas en la plataforma o el contenido de 
                las mismas. <strong>AVANZA</strong> no controla, ni tiene derecho a controlar, tus actividades al margen de internet en relación con 
                tu anuncio ni otros asuntos relacionados con cualquier anuncio que ofrezca.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">  
            <ol class="" start="5">
                <li><strong> CONTENIDOS Y SERVICIOS ENLAZADOS A TRAVÉS DEL SITIO WEB.</strong></li>
            </ol>
            <p>Los enlaces o links que contiene este SITIO WEB pueden conducirte como USUARIO a otros sitios y páginas web gestionadas por terceros, 
                sobre las que <strong>AVANZA</strong> no tiene ninguna responsabilidad.
            </p>
            <p><strong>AVANZA</strong> no responde ni de los contenidos ni del estado de dichos sitios y páginas web y el acceso a las mismas a través 
                de este SITIO WEB tampoco implica que los recomiende o que apruebe sus contenidos. En todo caso, el acceso a dichos SITIO WEB supondrá 
                tener en cuenta sus propias políticas, sin que exista responsabilidad por parte de <strong>AVANZA</strong>.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">  
            <ol class="" start="6">
                <li><a name="_Toc471902121"></a><a name="_Toc476047245"></a><a name="_Toc476063116"></a><strong> DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL.</strong></li>
            </ol>
            <p>Todos los materiales e información del SITIOS WEB de <strong>AVANZA</strong> están sometidos a la normativa vigente sobre 
                Propiedad Intelectual y/o Industrial.</p>
            <p><strong>AVANZA</strong> es titular de los derechos de propiedad industrial e intelectual del SITIO WEB, así como de los 
                contenidos que alberga. A título meramente enunciativo, se entenderán incluidos el propio SITIO WEB, nombre de dominio, 
                textos, imágenes, estructura, diseño o forma de representación de los elementos, gráficos, ficheros, archivos de sonido, 
                grabaciones de vídeo, programas de ordenador, bases de datos, tecnología, know-how, marcas, signos distintivos, logos y, 
                en general, cualquier clase de creación o material accesible a través del SITIO WEB susceptible de protección o, en su 
                caso, que cuente con licencia o autorización suficiente para su explotación.</p>
            <p>Por tanto no se permite usar, reproducir, copiar, transformar, distribuir, transmitir o poner a disposición del público y, 
                en general, cualquier otra forma de explotación, parcial o total de los elementos referidos en el apartado anterior contenidos 
                en el SITIO WEB, sin la autorización expresa, previa y por escrito de su <strong>AVANZA</strong> y que, en todo caso, deberán 
                hacer referencia explícita a la titularidad de los citados derechos de propiedad intelectual de <strong>AVANZA</strong>. 
                Cualquier uso del sitio web o de sus contenidos deberá tener un carácter exclusivamente particular.</p>
            <p>Los logotipos, marcas, nombres comerciales, etc., que sea ajenos a <strong>AVANZA</strong> y que pudieran aparecer en el SITIO 
                WEB, pertenecen a sus respectivos propietarios siendo, en todo caso éstos, los responsables de cualquier posible controversia 
                que pudieran darse respecto a ellos.</p>
            <p>Si tienes alguna duda con respecto a la propiedad de cualquiera de los contenidos, servicios y / o prestaciones que se ofrecen 
                a través del SITIO WEB, por favor ponte en contacto con <strong>AVANZA</strong> para poder ayudarte.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="" start="7">
                <li><a name="_Toc471902122"></a><a name="_Toc476047246"></a><a name="_Toc476063117"></a><strong> EXONERACION DE RESPONSABILIDAD</strong></li>
            </ol>
            <p><strong>AVANZA</strong> velará, en la medida de sus posibilidades técnicas, lógicas y de sus propios recursos técnicos y humanos 
                por el correcto funcionamiento del SITIO WEB, la corrección de su contenido y la veracidad de lo publicado en él.</p>
            <p>Sin embargo <strong>AVANZA</strong> no puede garantizar la ausencia de virus u otros elementos lesivos, introducidos por terceros, 
                que pudieran causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en los ficheros del usuario 
                que visite este SITIO WEB.</p>
            <p><strong>AVANZA</strong> no se hace responsable de:</p>
            <ol>
                <li>Los daños derivados del mal uso de este portal o sus contenidos por los usuarios, ni de cualquier actuación realizada sobre la 
                    base de la información que en ella se facilita.
                </li>
                <li> Las opiniones vertidas por los USUARIOS a través de los comentarios o aplicaciones de este SITIO WEB.
                </li>
                <li>Los errores u omisiones de los que pudieran adolecer los contenidos del SITIO WEB u otros contenidos a los que se pueda acceder 
                    a través del mismo.
                </li>
                <li>Las pérdidas o daños causados en el software y equipos informáticos de los usuarios o de terceros por la violación de estas 
                    condiciones de uso por parte del USUARIO, por la utilización de los servicios ofrecidos en el SITIO WEB o por fallos o 
                        desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del servicio del 
                        SITIO WEB durante la prestación del mismo o con carácter previo.
                </li>
            </ol>
            <p>En este sentido, <strong>AVANZA</strong> ha contratado servicios avanzados de <em>hosting</em> del SITIO WEB, para lo cual se ha 
                tratado de garantizar una serie de medidas de salvaguarda, seguridad e integridad de los datos alojados como son entre otras, 
                la implementación de cortafuegos en servidores y certificados de seguridad SSL para la transmisión cifrada de datos.</p>
            <p>No obstante te corresponde, como USUARIO, la disponibilidad de herramientas adecuadas para la detección y desinfección de 
                programas informáticos dañinos.</p>
            <p><strong>AVANZA</strong> no garantiza el contenido de los correos electrónicos enviados desde o al Sitio, sin perjuicio de las 
                medidas de seguridad y diligencia implementadas y de acuerdo con los estándares de la industria en el momento de la 
                implementación.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol class="" start="8">
                <li><a name="_Toc471902123"></a><a name="_Toc476047247"></a><a name="_Toc476063118"></a><strong> ACTUALIZACION DE ESTAS 
                    CONDICIONES</strong>
                </li>
            </ol>
            <p><strong>AVANZA</strong> informa a los usuarios de este SITIO WEB que estas Condiciones de Uso o cualquier otra plataforma de 
                información legal que se utilice y, en general, de cuantos elementos integran el diseño y configuración del SITIO WEB, puede 
                ser modificada introduciendo o suprimiendo condiciones del servicio. Dichas modificaciones sólo te las notificaremos 
                posteriormente si se trata de modificaciones sustanciales a la prestación del servicio. Las notificaciones las realizaremos a 
                través de correo electrónico o por cualquier otro medio electrónico. Una vez realizada la modificación será publicada para 
                conocimiento de todos los usuarios y se modificará la fecha de actualización que aparece en la información legal.
            </p>
            <p>La modificación o adición introducida se hará efectiva inmediatamente después de que se publique en el SITIO WEB. Dichas 
                modificaciones no tendrán carácter retroactivo.
            </p>
            <p>Como USUARIO, reconoces y aceptas que quedas vinculado por las condiciones aplicables al SITIO WEB en cada momento y te 
                comprometes a actuar y cumplir con ellas en consecuencia.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="9">
                <li><a name="_Toc471902124"></a><a name="_Toc476047248"></a><a name="_Toc476063119"></a><strong> LEGISLACION Y JURISDICCION 
                    APLICABLE</strong>
                </li>
            </ol>
            <p>Estas Condiciones de Uso se regirán e interpretarán conforme a la legislación española. AVANZA y el USUARIO acuerda someter 
                cualquier controversia que pudiera suscitarse de la prestación de los servicios objeto de éste aviso legal y condiciones de 
                uso, a los Juzgados y Tribunales correspondientes al domicilio del USUARIO.
            </p>
            <p><a href="http://ortsconsultores.es"><img class="aligncenter size-medium wp-image-3132 centrarImg" 
                src="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg" alt="" width="300" height="171" 
                srcset="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg 300w, 
                http://cieep.com/wp-content/uploads/2017/08/logo-lopd.jpg 623w" sizes="(max-width: 300px) 100vw, 300px" /></a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
