{% extends 'base.html.twig' %}
{% block body %}
    
<div class="container">
    <div class="row">        
        <div class="section-title wow zoomIn">
            <div class="cabecera">
                <h1 class="">Política de cookies</h1>
                <p>Publicado: 2 Noviembre 2017</p>
                <p>La mera visita de nuestra web no supone que nos estés facilitando dato personal alguno ni estás obligado a ello.</p>
                <p>Sin embargo, hemos de informarte que, para poder funcionar correctamente y ofrecerte un mejor servicio, AVANZA hace uso o activa diferentes cookies.</p>

                <ol>
                    <li><strong>¿Qué es una cookie?</strong></li>
                    <li><strong>¿Qué tipos de cookies existen?</strong></li>
                    <li><strong>¿Qué nivel de intrusión producen?</strong></li>
                    <li><strong>¿Qué cookies recoge la web de AVANZA?</strong></li>
                    <li><strong>¿Puedo configurar el navegador para impedir la instalación de cookies?</strong></li>
                    <li><strong>Sobre los enlaces a otras webs</strong></li>
                </ol>           
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol>
                <li>
                    <strong> 
                        ¿Qué es una cookie?
                    </strong>
                </li>
            </ol>
            <p>Entendemos por cookies el conjunto de caracteres que se almacenan en el disco duro o en la memoria temporal del ordenador 
                de un usuario cuando accede a las páginas de determinados sitios web.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="2">
                <li>
                    <strong> 
                        <a name="_Toc476560178"></a>¿Qué tipos de cookies existen?
                    </strong>
                </li>
            </ol>
            <p>Existen diferentes tipos de cookies, dependiendo del servicio que prestan:</p>
            <p>Según la finalidad para la que se traten los datos obtenidos a través de las cookies, podemos distinguir entre:</p>
            <ul>
                <li><strong>Cookies técnicas</strong>: aquéllas que permiten al usuario la navegación a través de una página web, plataforma o 
                    aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico 
                    y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran 
                    un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, 
                    utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir 
                    contenidos a través de redes sociales.
                </li>
                <li><strong>Cookies de personalización</strong>: Son aquéllas que permiten al usuario acceder al servicio con algunas 
                    características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario 
                    como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración 
                    regional desde donde accede al servicio, etc.
                </li>
                <li><strong>Cookies de análisis</strong>: Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis 
                    del comportamiento de los usuarios de los sitios web a los que están. La información recogida mediante este tipo de 
                    cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración 
                    de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir 
                    mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.
                </li>
                <li><strong>Cookies publicitarias</strong>: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los 
                    espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la 
                    que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran 
                    los anuncios.
                </li>
                <li><strong>Cookies de publicidad comportamental</strong>: Son aquéllas que permiten la gestión, de la forma más eficaz 
                    posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o 
                    plataforma desde la que presta el servicio Estas cookies almacenan información del comportamiento de los usuarios 
                    obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil 
                    específico para mostrar publicidad en función del mismo.
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="3">
                <li>
                    <strong> 
                        <a name="_Toc476560179"></a>¿Qué nivel de intrusión producen?
                    </strong>
                </li>
            </ol>
            <p>En función del tipo de cookies utilizadas, también se obtienen diferentes tipos de datos, y por lo tanto, el nivel de 
                intrusión es variable. Podemos establecer tres niveles de intrusión:
            </p>
            <p><strong>Nivel 1 o cookies no intrusivas</strong>: son cookies de inicio de sesión en sitios donde existen usuarios registrados, 
                carritos de la compra, preferencias de visualización&#8230; son inherentes al sistema y su bloqueo provocaría no poder usar 
                los servicios solicitados. <strong>(técnicas, de personalización</strong>)
            </p>
            <p><strong>Nivel 2 o mínimamente intrusivas</strong>: son cookies de uso propio vinculadas a servicios de terceros, como por 
                ejemplo, las analíticas y estadísticas. Un ejemplo pueden ser las cookies usadas por Google Analytics o Yahoo Web Analytics. 
                (<strong>de análisis</strong>)
            </p>
            <p><strong>Nivel 3 o moderadamente intrusivas</strong>: proporcionadas, administradas y de uso de terceros con el fin de obtener 
                datos para emplazamientos publicitarios (banners) o el uso de contenido de carácter social (plugin de redes sociales) y que 
                deben estar autorizadas expresamente por el usuario. En el caso de las cookies de carácter social, el consentimiento se hace 
                en los propios sitios de las redes sociales. (<strong>publicitarias, de publicidad comportamental</strong>)
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="4">
                <li>
                    <strong> 
                     ¿Qué cookies recoge la web de AVANZA?
                    </strong>
                </li>
            </ol>
            <p>El usuario acepta el uso de cookies y seguimientos de IPs. Nuestro analizador de tráfico del sitio web utiliza cookies y 
                seguimientos de IPs que nos permiten recoger datos a efectos estadísticos como: fecha de la primera visita, número de 
                veces que se ha visitado, fecha de la última visita, URL y dominio de la que proviene, explorador utilizado y resolución 
                de la pantalla.
            </p>
            <p>A continuación os ofrecemos un listado de las cookies generadas por AVANZA y el nivel de intrusión de las mismas, de modo 
                que puedas comprobar que solamente utilizaremos las cookies necesarias para prestar el servicio, y el nivel de intrusión es 
                el mínimo posible. Además de las cookies generadas por AVANZA, pueden existir cookies de terceros, generadas por el propio 
                navegador, sistema operativo, herramientas de seguimiento de tráfico, etc.
            </p>
            <p>En cualquier caso estas cookies son NO INTRUSIVAS pero no podemos especificarlas todas ya que dependen desde que sistema 
                operativo o navegador acceda el usuario a la web si, en algún momento detectamos la presencia de cookies con un PERFIL ALTO 
                de intrusión, te informaremos debidamente, solicitando de forma expresa que aceptes que las utilicemos durante tu navegación.
            </p>

            <table class="col-md-12 col-sm-12 col-xs-12 section-title">
                <tbody>
                    <tr class="tablahead">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats">NOMBRE DE COOKIE</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">SEGÚN SU GESTOR</p>
                            <p>(propias / terceros)</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright">FINALIDAD DE LA COOKIE</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">NIVEL DE INTRUSIÓN</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">DURACIÓN</p>
                            <p>(sesión / permanente)</td>
                    </tr>
                    <tr class="tablabottom">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats">_ga</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">De terceros</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright">ANALÍTICA De Google Analytics. Se usa para distinguir a los usuarios.</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">MÍNIMO</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">2 años</td>
                    </tr>
                    <tr class="tablabottom">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats">_gat</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">De terceros</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright">ANALÍTICA De Google Analytics. Se usa para limitar el porcentaje de solicitudes.</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">MÍNIMO</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">10 min</td>
                    </tr>
                    <tr class="tablabottom">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats">_guid</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">De terceros</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright">Cookie analítica, relacionada con Google Analytics que se usa para distinguir a los usuarios.</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">MÍNIMO</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">24 horas</td>
                    </tr>
                    <tr class="tablabottom">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats">Cookie_notice_accepted</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">Propia</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright">Recuerda si se ha aceptado el mensaje de aviso sobre cookies para dejar de mostrarlo durante el tiempo en que esté activa.</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">NO INTRUSIVA</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright">15 días</td>
                    </tr>
                    <tr class="tablabottom">
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalats" >devicePixelRatio</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright" >Propia</td>
                        <td class="col-md-4 col-sm-12 col-xs-12 tablalatright" >Saber qué tipo de pantalla tiene el equipo del usuario para mostrar una calidad de imagen u otra.</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright" >NO INTRUSIVA</td>
                        <td class="col-md-2 col-sm-12 col-xs-12 tablalatright" >1 semana</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="5">
                <li>
                    <strong> 
                        ¿Puedo configurar el navegador para impedir la instalación de cookies?
                    </strong>
                </li>
            </ol>
            <p>Si, tienes la opción de configurar tu navegador para ser avisado en pantalla de la recepción de cookies y para impedir la 
                instalación de cookies en tu disco duro, si bien, no te lo recomendamos ya que es posible que pierda parte de sus 
                funcionalidades, no puedas acceder a diferentes partes de la web o aprovecharte de alguno de nuestros servicios, y 
                porque, a grandes rasgos una de las ventajas es la comodidad de no tener que incluir tus datos cada vez que entres en 
                tu perfil en nuestra web.
            </p>
            <p>La forma en que debas configurarlo dependerá de las características de tu navegador. Puedes restringir, bloquear o borrar 
                las cookies de cualquier página web, a través de tu navegador, las instrucciones para cada uno son las siguientes:
            </p>
            <p>Para más información sobre Google Chrome pulse <a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">aquí.</a><br/> 
                Para más información sobre Firefox pulse <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&amp;redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">
                aquí</a>.<br /> Para más información sobre Internet Explorer pulse <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">
                aquí.</a><br /> Para más información sobre Opera pulse <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">
                aquí</a>.<br /> Para más información sobre Safari pulse <a href="https://support.apple.com/kb/PH17191?locale=es_ES&amp;viewlocale=es_ES">aquí</a>.
            </p>
            <p>En el caso de las cookies activadas por la herramienta <a href="https://www.google.es/intl/es/analytics/">Google Analytics</a> 
                os facilitamos la información de estas cookies de la propia web del programador:
            </p>
            <p><a href="https://www.google.es/intl/es/policies/technologies/types/">https://www.google.es/intl/es/policies/technologies/types/</a></p>
            <p>En el caso de las cookies de redes sociales externas que se utilizan para que los visitantes puedan interactuar con el contenido 
                de diferentes plataformas sociales y que se generan únicamente para los usuarios de dichas redes sociales, las condiciones de 
                utilización de estas cookies y la información recopilada se regulan por la política de privacidad de la plataforma social 
                correspondiente.
            </p>
            <ol>
                <li><strong>Twitter </strong><a href="https://support.twitter.com/articles/20170521-el-uso-que-hace-twitter-de-cookies-y-tecnologias-similares">Más información</a></li>
                <li><strong>Google </strong><a href="https://www.google.es/intl/es/policies/privacy/">Más información</a></li>
                <li><strong>Linkedin </strong><a href="https://www.linkedin.com/legal/cookie_policy">Más información</a></li>
                <li><strong>Facebook</strong><a href="https://www.facebook.com/help/cookies/?ref=sitefooter">Más información</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">

            <ol start="6">
                <li>
                    <strong> 
                        <a name="_Toc476560182"></a>Sobre los enlaces a otras webs
                    </strong>
                </li>
            </ol>

            <p>Esta web contiene links a otras páginas web, debes tener en cuenta de que AVANZA no es responsable de las prácticas de 
                privacidad de esas otras webs.<br /> Por eso te recomendamos que seas consciente de que al utilizar uno de estos links 
                están abandonando nuestra web por lo que deberías leer las políticas de privacidad de esas otras webs que recaben datos 
                personales.
            </p>
            <p>Es decir, la presente política de privacidad sólo se aplica a los datos personales recabados a través de la web de AVANZA.</p>
            <p><a href="http://ortsconsultores.es"><img class="aligncenter size-medium wp-image-3132 centrarImg" 
                src="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg" alt="" width="300" height="171" 
                srcset="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg 300w, 
                http://cieep.com/wp-content/uploads/2017/08/logo-lopd.jpg 623w" sizes="(max-width: 300px) 100vw, 300px" /></a>
            </p>    
        </div>
    </div>
</div>

{% endblock %}
