{% extends 'base.html.twig' %}
{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="cabecera">
                <h1>Política de Privacidad:</h1>
                <p>Publicado: 2 Noviembre 2017</p>
                <ol>
                    <li><strong> Existencia de fichero </strong></li>
                    <li><strong> Objeto de la recogida de datos </strong></li>
                    <li><strong>Cesión de datos</strong></li>
                    <li><strong>Transferencias internacionales de datos</strong></li>
                    <li><strong>Derechos ARCO</strong><strong>Enlaces a otras webs</strong></li>
                </ol>
           
            </div>
        </div>
    </div>
    <div class="container section-padding">
        <div class="row">
            <p>Desde <strong>PROGRESA</strong>  estamos profundamente comprometidos con la defensa de los derechos de protección de datos personales de nuestros clientes y usuarios así, publicamos esta información para que se consideren debidamente informados:</p>
            <ul>
                <li>De sus derechos y del uso de esta web antes de facilitar los datos;</li>
                <li>De las medidas que garantizan la salvaguarda e integridad de los datos;</li>
                <li>Para que el consentimiento previo al envío de datos por su parte pueda estar debidamente fundamentado</li>
            </ul>
            <p>Todo ello cumpliendo con todas las obligaciones legalmente dispuestas en la <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-1999-23750">Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos (LOPD)</a> y su <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2008-979">Reglamento de Desarrollo 1720/2007, de 21 de diciembre</a>, así como toda la normativa <a href="https://www.boe.es/legislacion/codigos/codigo.php?id=55&amp;modo=1&amp;nota=0&amp;tab=2">española</a> y <a href="http://www.consilium.europa.eu/es/policies/data-protection-reform/">europea</a> aplicable a esta materia.</p>
            <p>Por ello, cualquier usuario que desee información, debe marcar de forma imperativa la opción de haber leído y aceptado la política de privacidad del sitio web, el aviso legal y la política de cookies.</p>

        </div>
    </div>
{% endblock %}
