{% extends 'base.html.twig' %}
{% block body %}
    
<div class="container">
    <div class="row">        
        <div class="section-title wow zoomIn">
            <div class="cabecera">
                <h1 class="padLat15">Política de Privacidad:</h1>
                <p class="padLat15">Publicado: 2 Noviembre 2017</p>
                <ol>
                    <li><strong> Existencia de fichero </strong></li>
                    <li><strong> Objeto de la recogida de datos </strong></li>
                    <li><strong>Cesión de datos</strong></li>
                    <li><strong>Transferencias internacionales de datos</strong></li>
                    <li><strong>Derechos ARCO</strong><strong>Enlaces a otras webs</strong></li>
                </ol>           
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <p>Desde <strong>AVANZA</strong>  estamos profundamente comprometidos con la defensa de los derechos de protección de datos 
                personales de nuestros clientes y usuarios así, publicamos esta información para que se consideren debidamente informados:</p>
            <ol>
                <li>De sus derechos y del uso de esta web antes de facilitar los datos;</li>
                <li>De las medidas que garantizan la salvaguarda e integridad de los datos;</li>
                <li>Para que el consentimiento previo al envío de datos por su parte pueda estar debidamente fundamentado</li>
            </ol>
            <p>Todo ello cumpliendo con todas las obligaciones legalmente dispuestas en la 
                <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-1999-23750">Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos 
                (LOPD)</a> y su <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2008-979">Reglamento de Desarrollo 1720/2007, de 21 de 
                diciembre</a>, así como toda la normativa <a href="https://www.boe.es/legislacion/codigos/codigo.php?id=55&amp;modo=1&amp;nota=0&amp;tab=2">
                española</a> y <a href="http://www.consilium.europa.eu/es/policies/data-protection-reform/">europea</a> aplicable a esta materia.</p>
            <p>Por ello, cualquier usuario que desee información, debe marcar de forma imperativa la opción de haber leído y aceptado la 
                política de privacidad del sitio web, el aviso legal y la política de cookies.</p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol>
                <li><strong> Existencia de fichero </strong></li>
            </ol>
            <p>Los datos que nos facilitas cuando rellenas el formulario del sitio web de <strong>AVANZA</strong>,  son almacenados y 
                tratados en un fichero de datos debidamente inscrito ante la Agencia Española de Protección de Datos (AEPD) con el nombre 
                CONTACTOS del que es titular y responsable <strong>AVANZA</strong>.</p>
            <p>Los datos que desde <strong>AVANZA</strong> solicitamos son los adecuados y pertinentes para la correcta prestación del 
                servicio.</p>
            <p>Desde <strong>AVANZA</strong> no nos hacemos responsables de la veracidad de los datos que nos facilites y de las 
                consecuencias jurídicas que esto pueda acarrear.</p>
            <p>Con la activación del check box del formulario, reconoces que la información y los datos personales recogidos son exactos y 
                veraces. Si se produjera alguna variación en los datos que nos facilitaste, deberás comunicarlo a través de nuestro email 
                <a href="mailto:info@avanzaconsultoria.com">info@avanzaconsultoria.com</a> para que la información que contienen nuestros 
                ficheros esté siempre actualizada y no contenga errores.</p>
            <p>Desde <strong>AVANZA</strong> no nos hacemos responsables de la veracidad de los datos que nos facilites y de las 
                consecuencias jurídicas que esto pueda acarrear.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="2">
                <li><strong> Objeto de la recogida de datos </strong></li>
            </ol>
            <p>Los datos personales que nos facilites serán objeto de tratamiento, ya sea por medios informáticos o en soporte papel, con la 
                finalidad de poder prestar el servicio para el que nos los has facilitado.</p>
            <p>Los datos que nos facilites a través del sitio web serán tratados en todo caso de conformidad con la normativa vigente, siendo 
                sometidos a las medidas de seguridad, jurídicas y tecnológicas necesarias para su adecuada protección.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="3">
                <li><strong> Cesión de datos</strong></li>
            </ol>
            <p><strong>AVANZA</strong> no va a ceder tus datos personales a terceros, si así fuera previamente solicitaríamos tu 
                consentimiento mediante la modificación de esta cláusula, ofreciéndote la máxima información y solicitando igualmente 
                que aceptes la política de protección de datos de <strong>AVANZA</strong>.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="4">
                <li><strong> Transferencias internacionales de datos</strong></li>
            </ol>
            <p>Nuestro servicio de <em>hosting</em> almacena los datos en servidores ubicados en la unión europea, por lo que no se considera 
                que el tratamiento implique una transmisión internacional de datos.</p>
            <p>En caso de que se previera que fuera a haber una transferencia internacional de datos, solicitaríamos tu previo consentimiento.</p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="5">
                <li><strong> Derechos ARCO</strong></li>
            </ol>
            <p>Se trata de los derechos establecidos en la Ley Orgánica de Protección de Datos Personales, y que pretenden garantizar que en 
                todo momento vas a poder:</p>
            <p>A. Acceder a los datos que nos has facilitado a <strong>AVANZA</strong>.</p>
            <p>R. Rectificar aquellos datos que estimes que son incorrectos o que estén desactualizados.</p>
            <p>C. Cancelar los datos que en su momento nos facilitaste, solicitando su eliminación de nuestra base de datos, salvo que por 
                imperativo legal hayan de permanecer disponibles para satisfacer obligaciones legales.</p>
            <p>O. Oponerte a que se traten y manejen tus datos personales.</p>
            <p>En todo caso, te informamos que puedes ejercer estos derechos por escrito, adjuntando en todo caso una copia del documento 
                oficial con el que podamos acreditar tu identidad (DNI, pasaporte…), bastará con que nos envíes un email a 
                <a href="mailto:info@avanzaconsultoria.com">info@avanzaconsultoria.com</a> o por correo postal a la siguiente dirección:</p>
            <p>Calle del Pintor Benedito 10-2, 46007 de Valencia</p>
            <p>Los datos que recibamos únicamente serán conservados a los efectos de poder acreditar la solicitud de ejercicio de derechos 
                realizada.<br /> Te responderemos dentro de los plazos legales establecidos salvo que existan razones legales o de fuerza 
                mayor que impidan dicho ejercicio, en cuyo caso, te remitiríamos una contestación fundamentada.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="section-title wow zoomIn">
            <ol start="6">
                <li><a name="_Toc467599887"></a><strong> Enlaces a otras webs</strong></li>
            </ol>
            <p>Esta web contiene links a otras páginas web. Debes saber que <strong>AVANZA</strong> no es responsable de las prácticas de 
                privacidad de esas otras webs.<br /> Es decir, al utilizar uno de estos links están abandonando nuestra web y debes leer las 
                políticas de privacidad de esas otras webs que recaben datos personales. La presente política de privacidad sólo se aplica a 
                los datos personales recabados a través de esta web.</p>            
            <p><a href="http://ortsconsultores.es"><img class="aligncenter size-medium wp-image-3132 centrarImg" 
                src="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg" alt="" width="300" height="171" 
                srcset="http://cieep.com/wp-content/uploads/2017/08/logo-lopd-300x171.jpg 300w, 
                http://cieep.com/wp-content/uploads/2017/08/logo-lopd.jpg 623w" sizes="(max-width: 300px) 100vw, 300px" /></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
